<!-- https://dribbble.com/shots/3426101-Chat-screens-colour-exploration/attachments/750015 -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" type="text/css" href="~/Content/ChatContent/css/main.css">
    
</head>
<body>

    @RenderBody()

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.3.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/someeAdsRemover.js"></script>

</body>
</html>
